<ul *ngIf="submitted && control?.errors" class="invalid-feedback">
  <li *ngIf="control?.errors?.required">
    Field is required
  </li>
  <li *ngIf="control?.errors?.pattern">
    Must not contain symbol, space, digit or any special character
  </li>
  <li *ngIf="control?.errors?.minlength">
    Minimum {{control?.errors?.minlength?.requiredLength}} letter/digit required
  </li>
  <li *ngIf="control?.errors?.maxlength">
    Maximum {{control?.errors?.maxlength?.requiredLength}} letter/digit allowed
  </li>
  <li *ngIf="control?.errors?.customPattern">
    <ng-container *ngIf="control?.errors?.customPattern[controlName]">
      <ng-container [ngSwitch]="control?.errors?.customPattern[controlName]['type']">
        <span *ngSwitchCase="'alphabet'">Only small case alphabets are required</span>
        <span *ngSwitchCase="'all-alphabet'">All alphabets are required</span>
        <span *ngSwitchCase="'alphabet-number'">Alpha-numeric are required</span>
        <span *ngSwitchCase="'alphabet-special-character'">Alphabets with special characters are required</span>
        <span *ngSwitchCase="'number-special-character'">Only numeric with special characters are required</span>
      </ng-container>
    </ng-container>
  </li>
</ul>
