@import '~perfect-scrollbar/css/perfect-scrollbar.css';
//@import '~@swimlane/ngx-datatable/release/index.css';
//@import '~@swimlane/ngx-datatable/release/themes/material.css';
//@import '~@swimlane/ngx-datatable/release/assets/icons.css';
//@import '~ngx-toastr/toastr.css';
//@import "~angular-calendar/css/angular-calendar.css";
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';
//@import '~highlight.js/styles/github.css';
@import '~ladda/dist/ladda.min.css';
@import "../iconsmind/iconsmind.css";
@import 'variables';
//@import 'themes/lite-blue';
@import 'themes/lite-purple';
//@import 'themes/dark-blue';
@import "~bootstrap/scss/bootstrap";
//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$mat-dark-blue: (
        50: #e3f2fd,
        100: #1b1bc6,
        200: #1818aa,
        300: #17178b,
        400: #13136c,
        500: #0c0c3c,
        600: #0d0d35,
        700: #0b0b29,
        800: #0a0a23,
        900: #07071a,
        A100: #82b1ff,
        A200: #448aff,
        A400: #2979ff,
        A700: #2962ff,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $light-primary-text,
                600: $light-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $light-primary-text,
                A400: $light-primary-text,
                A700: $light-primary-text,
        )
);

$candy-app-primary: mat-palette($mat-dark-blue);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);
@import 'globals/globals';
//@import 'font-awesome'
@import 'font-awesome/css/font-awesome.min.css';

.dropdown-search {
  max-height: 200px;
  overflow: auto;
}

.invalid-mat-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #d22346 !important;
}

.datepicker-icon-width {
  font-size: 25px;
}

.intl-tel-input {
  width: 100% !important;
}

.swal2-icon.swal2-warning {
  font-size: 1em !important;
}

.min-max-badge {
  position: relative;
  left: 50%;
  top: -10px;
  border-radius: 6px !important;
  padding: 2px 7px !important;
}

