@each $name, $value in $theme-colors {
  .border-bottom-#{$name} {
    border-bottom: 1px solid $value;
  }
}

@each $name, $value in $theme-colors {
  .border-bottom-dotted-#{$name} {
    border-bottom: 1px dotted $value;
  }
}

.rounded-3 {
  border-radius: 3px !important;
}

.rounded-4 {
  border-radius: 4px !important;
}

.rounded-5 {
  border-radius: 5px !important;
}